.titleContainer {
  width: 100%;
  padding-left: 1rem;
}

.titleFormControl {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mainContainer {
  width: 100%;
  height: 100%;
}

.projectSelector {
  width: 12rem;
}

.dividerContainer {
  margin: 1rem 0rem;
}

.contentBoxContainer {
  height: 70%;
}
.widgetContainer1 {
  width: 65%;
}
.widgetContainer2 {
  width: 35%;
}
.recentProjectsBox {
  width: 90%;
  height: 18rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
  background-color: white;
}
.recentsHeader {
  padding: 0.25rem 2rem;
}
.greybackgroundColor {
  background-color: rgb(233, 233, 233);
}
.formContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 2rem;
  gap: 2rem;
}

.fullsize {
  height: 100%;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-direction: row;
}

.descContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.accordionContainer {
  width: 95%;
  padding-left: 2rem;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.detailsSubSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
}
